doctype html

html
  head
    link(rel="stylesheet", href="/stylesheets/style.css")
    title Administrador de Notas

block content
  header() Administrador de Notas

  div
    form(class="formulario" action="/register", method="post")
      input(id="form" type="text" placeholder="Materia")
      input(id="form" type="text" placeholder="UV")
      input(id="form" type="text" placeholder="Descripcion")
      button(id="form" type="submit") Guardar
  
  div
    ul(class="cabecera")
      li() #
      li() Materia
      li() UV
      li() Descripcion
      li() Opciones