doctype html

html
  head
    link(rel="stylesheet", href="/stylesheets/style.css")
    title Administrador de Tareas

block content
  header() Administrador de tareas

  form(action="#", method="post")
    input(type="text" placeholder="Materia")
    input(type="text" placeholder="UV")
    input(type="text" placeholder="Descripcion")
    button(type="submit") Guardar
  
  div
    ul(.cabecera)
      li() #
      li() Materia
      li() UV
      li() Descripcion
      li() Opciones