doctype html

html
  head
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(href="https://fonts.googleapis.com/css?family=Mountains+of+Christmas" rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    title Administrador de Notas

block content
  header() Administrador de Notas
    

  div
    form(class="formulario" action="/register", method="post")
      input(id="form" type="text" placeholder="Materia")
      input(id="form" type="text" placeholder="UV")
      input(id="form" type="text" placeholder="Descripcion")
      button(id="form" type="submit") Guardar
  
  div
    ul(class="cabecera")
      li() #
      li() Materia
      li() UV
      li() Descripcion
      li() Opciones
    
    ul(class="cabecera")
      li() 1
      li() Matematica 2
      li() 3
      li() Matematica 2
      li() 
        button()
          i(class="fas fa-ban")
        button()
          i(class="fas fa-pen")