doctype html

html
  head
    link(rel="stylesheet", href="/stylesheets/style.css")
    title Administrador de Notas

block content
  header() Administrador de Notas

  form(class="formulario" action="/register", method="post")
    input(type="text" placeholder="Materia")
    input(type="text" placeholder="UV")
    input(type="text" placeholder="Descripcion")
    button(type="submit") Guardar
  
  div
    ul(class="cabecera")
      li() #
      li() Materia
      li() UV
      li() Descripcion
      li() Opciones