body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header{
  background-color: rgba(255, 209, 133, 0.49);
  width: 1440px;
  height: 60px;
  color: #47525E;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  width: 400px;
  text-align: center;
}

.formulario{
  background-color: #E4E9EE;
  width: 1440px;
  height: 80px;
}
.formulario #form{
  margin-top: 30px;
  margin-right: 1em;
  height: 25px;
  width: 185px;
}

.cabecera{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  list-style: none;
}

button{
  border-radius: 4px;
  background-color: green;
  border-style: none;
  color: white;
}